* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url("./../img/bg/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #26353B;
    background-attachment: fixed;
}


img {
    width: 100%;
    height: auto;
}

h2 {
    /* Headers / H2 */
    font-family: Merriweather;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    text-align: left
}

h3 {
    color: var(--color-dark-green, #222F33);
    font-feature-settings: 'clig' off, 'liga' off;
    /* Headers / H3 */
    font-family: Merriweather;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 0;
}

/* BASE */

.container {
    margin: 0 auto;
    width: 81%;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.main-text {
    display: flex;
    width: 440px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
}

.label-medium-white p {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    /* Label / Medium */
    font-family: Rubik;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
}

.play-btn {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    margin-right: 100px;
}

.play-btn img {
    margin-right: -10px;
}

.h2-white {
    color: #FFF;
}

.h2-dark {
    color: var(--color-dark-green, #222F33);
}

.label-bold-white p {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    /* Label / Bold */
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 12px;
}

.label-super-large {
    color: var(--greys-light-grey, #646D70);
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
}

@media screen and (max-width: 320px) {
    body {
        background-size: cover;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 16px;
    }

    .container {
        width: 95%;
        padding: 0;
    }

    .main-text {
        width: 100%;
    }

    .label-medium-white p,
    .label-bold-white p,
    .label-super-large {
        font-size: 16px;
    }

    .play-btn {
        margin: 0;
    }
    
    .play-btn img {
        margin-right: 5px;
    }
    
    .h2-white,
    .h2-dark {
        font-size: 18px;
    }

    .img01 {
        opacity: 0;
        animation: bounceAndRotate 1s ease-in-out forwards;
        transform-origin: center bottom;

        width: 100px;
        height: 100px;
    }

    @keyframes bounceAndRotate {
        0%, 20%, 50%, 80%, 100% {
            transform: translateY(0) rotate(0);
        }
        40% {
            transform: translateY(-30px) rotate(360deg);
        }
        60% {
            transform: translateY(-15px) rotate(180deg);
        }
    }

}
