body {
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  background-color: #888888;
  margin: 0;
  padding: 0;
}

.main__container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #333;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

h1 {
  font-size: 28px;
  color: #fff;
}

.model-type {
  padding-left: 30px;
}

h2 {
  font-size: 28px;
  color: #fff;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}


input[type="text"], input[type="number"] {

  width: 562px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #888888;
  background-color: #444;
  color: #fff;
  border-radius: 5px;
}

button {
  width: 24%;
  padding: 10px 20px;
  background-color: #444;
  color: #fff;
  border: 1px solid #888888;
  border-radius: 5px;
  cursor: pointer;
}

.container__buttons button {
  flex: 1;
  margin-right: 10px;
}

.chainsaw {

  padding: 10px;
  background-color: #444;
  border: 1px solid #888888;
  border-radius: 5px;
  margin-bottom: 10px;
}

.chainsaw strong {

  font-weight: bold;
  color: #fff;
}

#search {
  padding-top: 10px;
}

#sort, #search {
  margin-top: 10px;
  background-color: #444;
  border: 1px solid #888888;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

#sort:hover {
  background-color: #888888;
}

