.header {
    margin: 15px 0 50px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-logo {
    align-items: center;
    margin-left: 40px;
}

.header__nav-logo img {
    background: none;
}

.header__nav-pages {
    display: flex;
    margin-right: 100px;
}

.header__page {
    margin-right: 50px;
    border: 2px solid transparent;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 20px;
}

.header__page a {
    text-decoration: none;
    color: inherit;
}

.header__page:hover {
    border-color: #82BBB5;
}
