.footer {
    background-color: #303636;
    color: white;
}

.footer__main {
    display: flex;
    justify-content: space-between;
}

.footer__logos1 {
    margin: 0 15px;
    width: 40px;
    height: 40px;
}

.footer__logos {
    margin: 45px 20px 0 0;
}

.footer__logo {
    margin: 35px 100px 0 0;
}

.footer__text-title {
    margin: 30px 0 20px 30px;
    font-size: 24.5px;
}

.footer__text-paragraph {
    width: 350px;
    margin: 0 0 50px 30px;
    font-size: 18px;
}

.footer__bottom-line {
    width: 97%;
    height: 1px;
    background-color: white;
    margin: 0 auto 20px;
}

.footer__bottom-copyrights {
    text-align: center;
    height: 40px;
    font-size: 18px;
    margin-bottom: 0px;
}
