.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;

}

.header_title {

}

.img__eco {
  padding-bottom: 4px;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav ul {
  display: flex;

}

.header__nav-item {
  font-weight: 500;
  font-size: 12px;
  margin-right: 40px;
}

.header__contact {
  font-weight: 500;
  font-size: 12px;
  color: #606B74;
  border-radius: 4px;
  width: 90px;
  height: 34px;
  background-color: #ffffff;
  border: 0;
  flex-shrink: 0;
}



