.part4__inner1 {
  padding-right: 60px;
  padding-left: 75px;

}

.part4__title1 {
  font-family: Merriweather, sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: #222F33;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 4px;
}
.part4__title2 {
  font-family: Merriweather, sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: #222F33;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 4px;
}
.part4__title3 {
  font-family: Merriweather, sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: #222F33;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 4px;
}
.part4__title4 {
  font-family: Merriweather, sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: #222F33;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 4px;
}
.part4__title5 {
  font-family: Merriweather, sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: #222F33;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 4px;
}
.part4__title6 {
  font-family: Merriweather, sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: #222F33;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 4px;
}

.part4__paragraph1 {
  font-family: Rubik, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  color: #646D70;
  opacity: 0.7;
  width: 155px;
  height: 66px;
  padding-bottom: 37px;
}
.part4__paragraph2 {
  font-family: Rubik, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  color: #646D70;
  opacity: 0.7;
  width: 155px;
  height: 66px;
  padding-bottom: 37px;
}
.part4__paragraph3 {
  font-family: Rubik, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  color: #646D70;
  opacity: 0.7;
  width: 155px;
  height: 66px;
}
.part4__paragraph4 {
  font-family: Rubik, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  color: #646D70;
  opacity: 0.7;
  width: 155px;
  height: 66px;
  padding-bottom: 37px;
}
.part4__paragraph5 {
  font-family: Rubik, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  color: #646D70;
  opacity: 0.7;
  width: 155px;
  height: 66px;
  padding-bottom: 37px;
}
.part4__paragraph6 {
  font-family: Rubik, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  color: #646D70;
  opacity: 0.7;
  width: 155px;
  height: 66px;
}
